{% extends "template/recipes.html" %}
{% load static %}
{% block head %}
    <title>Главная Страница</title>
{% endblock %}
{% block centertab %}
    <div><h1>
        Рекомендуем:
    </div><h2>

    <br>
    <div id="recipe_blocks"></div>
    <a href="{% url 'recipe_all' %}"><center>Больше</center></a>
    <script src="{% static 'js/user_data.js' %}"></script>
    <script src="{% static 'js/recipe_getter.js' %}"></script>
    <script src="{% static 'js/recipe_home.js' %}"></script>
{% endblock %}