{% extends "template/recipes.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <title>Главная Страница</title>
    <link href="{% static 'css/template/form.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <input id="currentuser_username" type="hidden" value="{{ request.user.username }}"></input>
    {% endblock %}
    {% block centertab %}
    <div>
        <img id="recipe_image" src="#" class="picture_block_item_img">
        {% if request.user.is_authenticated and request.user == recipe_owner or request.user.is_authenticated and request.user.is_superuser and is_editor %}
            
            {% csrf_token %}
            <p><input type="file" id="recipe_image_upload" class="recipe_text_style1"></p>
            <p><input placeholder="Название" id="recipe_title" class="recipe_text_style1"></p>
            <p>
                <select id="recipe_category" class="recipe_text_style1">
                    <option value="null">------</option>
                </select>
            </p>
            <p><textarea placeholder="Описание" id="recipe_desc" class="recipe_text_style1"></textarea></p>
            <p><button id="recipe_savebutton">сохранить</button></p>
            <p id="recipe_savebutton_complete"></p>
            <p><button id="recipe_deletebutton">Удалить</button></p>
        {% else %}
            {% if request.user.is_authenticated and request.user.is_superuser %}
                <h1><a href="?editor=true"><button id="recipe_editor">Редактировать</button></a></h1>
            {% endif %}
            <p>
                <div id="recipe_title" class="recipe_text_style1">
                
                </div>
            </p>
            <p>
                <div id="recipe_desc" class="recipe_text_style1">
                </div>
            </p>
            <p>
                <div id="recipe_category" class="recipe_text_style1">
                
                </div>
            </p>
        {% endif %}
        <p id="recipe_visits" class="recipe_text_style1"></p>
        <p id="recipe_owner" class="recipe_text_style1"></p>
        
    </div>
    <script src="{% static 'js/recipe_get.js' %}"></script>
    {% endblock %}